<?xml version="1.0"?>
<launch>
  <arg name="load_state_filename" value="$(find amr_simulation)/pbstream/museum_tsdf.pbstream"/>
  <param name="robot_description"
    textfile="$(find amr_simulation)/config/amr.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" >
    <!--param name="publish_frequency" value="20" /-->
    <!--param name="use_tf_static" value="false" /-->
  </node> 

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find amr_simulation)/config
          -configuration_basename amr_tsdf_localization.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen">
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.01">
    <!-- <remap from="map" to="map_carto"/> -->
  </node>
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find amr_simulation)/config/AMR.rviz" />
</launch>
